@mixin linear-gradient-light {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(212,212,212,1) 100%);
}


@mixin project-card-container {
    width: 15rem;
    aspect-ratio: 1  / 1.1;
    padding: 1rem;
    @include linear-gradient-light();
    border-radius: 14px;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:hover {
        box-shadow: 0px 0px 10px var(--secondary-clr);
        transition: all 100ms ease-in;
        transform: translate(-3px, -3px);
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }


    h2 {
        color: var(--secondary-clr);
        font-size: 1rem;
        padding: .5rem;
        text-shadow: 1px 1px 5px rgba(33, 33, 33, .15);
        position: relative;
        z-index: 0;

    }
}


@media (max-width: 1600px) {
    .cta {
        font-size: 1rem;
    }

    .hero-image-text {
        font-size: 4rem;
    }
}

@media (max-width: 1306px) {
    .cta {
        font-size: 1rem;
    }

    .hero-image-text {
        font-size: 3rem;
    }
}

@media (max-width: 1000px) {
    .cta {
        font-size: 1rem;
        border: 1px solid white;
    }

    .hero-image-text {
        font-size: 2rem;
        line-height: 1.4;
    }

    .project-card-container {
        transform: scale(.85);
    }

    .projects-wrapper {
        padding-top: 8rem;
        padding-bottom: 4rem;
        gap: initial;
    }

    .projects-wrapper::after {
        display: none;
    }

    .project-card-wrapper {
        gap: initial;
    }

    .project-cards-row {
        gap: initial;
    }

    .row-1 {
        margin: 0;
    }

    .experience-container-wrapper {
        gap: initial;
    }

    .experience-container {
        transform: scale(.85);
    }

    nav {
        padding-inline: 2rem;
    }

    .main-wrapper {
        padding-left: 2rem;
    }

    .technical-wrapper {
        gap: initial;
    }

    .technical-container {
        transform: scale(.85);
    }

    .technical-1 ul, .technical-2 ul, .technical-3 ul {
        gap: initial;
    }

    .skills-container ul .skill {
        font-size: 1rem;
    }

    .form-wrapper {
        transform: scale(.85);
    }

    .contact-me-wrapper {
        padding-bottom: 0;

        h1 {
            margin-bottom: 0;
        }
    }

}

@media (max-width: 828px) {
    .skills-container ul .skill {
        font-size: .75rem;
    }

    .home.hero-image-text-container {
        top: 30%;
    }

    .hero-image-text {
        font-size: 1.5rem;
    }

    .cta {
        font-size: .75rem;
        margin-top: 1rem;
    }

    .contact-me-wrapper .form-wrapper {
        padding: 2rem;
        width: 100%;
    }

    .contact-me-wrapper .form-wrapper .form-r1 {
        flex-direction: column;
    }

    .contact-me-wrapper .form-wrapper .form-r1 input {
        width: 100%;
    }

    .contact-me-wrapper .form-wrapper .form-r3 {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 744px) {

    .hero-image-text-container {
        top: 35%;
    }

    .home.hero-image-wrapper img {
        transform: translate(-22rem, 5rem);
        max-height: 50rem;
        width: auto;
    }

    .hero-image-text {
        font-size: 2rem;
        width: 60%;
    }

    .cta {
        font-size: 1rem;
    }

    .project-wrapper {
        padding-top: 0;
    }

    .project-cards-row {
        gap: 0rem;
    }

    .form-wrapper {
        width: 100%;
    }

    .form-r1 {
        flex-direction: column;
    }

    .contact-me-wrapper .form-wrapper .form-r1 input {
        width: 100%;
    }

    .contact-me-wrapper .form-wrapper .form-r1 {
        gap: 2rem;
    }

    nav {
        position: fixed;
        top: 0;
        padding-inline: 2rem;
        z-index: 10;
        width: 100%;
        height: max-content;
    }

    .nav-bar-mobile-animation-forwards {
        animation: navBarAnimationForwards .5s forwards;
    }

    .nav-bar-mobile-animation-backwards {
        animation: navBarAnimationBackwards .5s forwards;
    }

    @keyframes navBarAnimationForwards {
        from {
            transform: translateY(-1000px);
        }
        to {
            transform: translateY(0);
        }
    }

    @keyframes navBarAnimationBackwards {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(-1000px);
        }
    }

    nav ul li:not(#logo) {
        display: none;
    }

    #logo {
        margin-left: 0;
    }

    .main-wrapper {
        padding-left: 0;
    }

    .hamburger-menu-container {
        display: flex;
    }
}

@media (max-width: 743px) {
    .projects-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-card-wrapper {
        display: none;
    }

    .project-card-wrapper-mobile {
        display: flex;
        max-width: 100%;
        margin-left: auto;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .project-card-container {
        min-width: 15rem;
    }
}

@media (max-width: 675px) {
    .skills-container ul {
        flex-direction: column;
        padding: 0;
    }

    .skills-container ul .skill {
        font-size: 1rem;
    }
}

@media (max-width: 659px) {
    .projects-wrapper h1, .experience-wrapper h1, .skills-wrapper h1, .contact-me-wrapper h1 {
        font-size: 5rem;
    }

    .home.hero-image-wrapper img {
        transform: translate(-36rem, 5rem);
    }

    .hero-image-text-container {
        top: 58%;
    }

    .hero-image-text {
        width: 100%;
    }

    .technical-1, .technical-2, .technical-3 {
        display: none;
    }

    .technical-mobile-view {
        display: flex;
        max-width: 100%;
        margin-left: auto;
        overflow-x: scroll;
        overflow-y: hidden;

        ul {
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }

        li {
            width: 200px;
        }

        span {
            font-size: 1.5rem;
        }
    }


    // .technical-wrapper ul {
    //     flex-direction: column;
    //     gap: 2rem;
    // }

    // .technical-2, .technical-3 {
    //     margin-top: 2rem;
    // }

    // .technical-wrapper li {
    //     transform: scale(1);
    //     width: 200px;
    // }

    // .technical-wrapper span {
    //     font-size: 1.5rem;
    // }
}

@media (max-width: 581px) {
    .contact-me-wrapper h1 {
        font-size: 4.5rem;
    }
} 

@media (max-width: 515px) {
    .experience-container {
        width: 27rem;
        align-items: center;

        &::after {
            display: none;
        }

        &::before {
            display: none;
        }

        h2 {
            text-align: center;
            width: 100%;
        }
    }

    .home.hero-image-wrapper img {
        transform: translate(-41rem, 5rem);
    }

    .hero-image-text-container {
        top: 58%;
        text-align: center;
    }

    .cta-container {
        justify-content: center;
    }

    .projects-wrapper h1, .experience-wrapper h1, .skills-wrapper h1, .about-me-wrapper h1, .contact-me-wrapper h1 {
        font-size: 4rem;
    }
}

@media (max-width: 470px) {

    .contact-me-wrapper .form-wrapper {
        border: none;
        transform: scale(1);
    }
}

@media (min-width: 423px) {
    footer {
        grid-template-columns: auto;
        grid-template-rows: repeat(9, auto);
        place-content: center;
        padding-top: 3rem;

        .hz-line-footer-mobile {
            width:  80vw;
            height: 1px;
            background-color: #1e1e1e;
            margin-top: 1rem;
            margin-bottom: 1rem;

            &:last-child {
                margin-top: 2rem;
            }
        }

        h2, p {
            text-align: center;
        }

        h2 {
            margin-top: 0;
        }

        p {
            margin: 0;
        }

        .credits-footer-mobile {
            div {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }

        .socials {
            display: flex;
            justify-content: center;
            gap: 1rem;
            margin-top: 1rem;
        }

        .copyright {
            margin-top: 1rem;
            margin-bottom: 2rem;
        }
    }
}


@media (min-width: 1180px) {
    footer {
        grid-template-columns: 1fr 1fr 4rem 1fr 4rem 1fr;
        // grid-template-rows: repeat(2, auto);
        place-content: center;
        padding-top: 3rem;

        h2, p {
            text-align: left;
        }

        .logo {
            justify-self: center;
            align-self: start;
        }

        .hz-line-footer-mobile {

                display: none;

        }

        .vt-line-footer-desktop {
            width:  1px;
            height: 30vh;
            background-color: #1e1e1e;
        }

        .socials {
            justify-content: flex-start;
            margin: 0;
        }

        .copyright-desktop {
            grid-column: 6 / 7;
        }

        .copyright-mobile {
            display: none;
        }
        
    }
}