@media (max-width: 1600px) {
  .cta {
    font-size: 1rem;
  }
  .hero-image-text {
    font-size: 4rem;
  }
}

@media (max-width: 1306px) {
  .cta {
    font-size: 1rem;
  }
  .hero-image-text {
    font-size: 3rem;
  }
}

@media (max-width: 1000px) {
  .cta {
    font-size: 1rem;
    border: 1px solid white;
  }
  .hero-image-text {
    font-size: 2rem;
    line-height: 1.4;
  }
  .project-card-container {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  .projects-wrapper {
    padding-top: 8rem;
    padding-bottom: 4rem;
    gap: initial;
  }
  .projects-wrapper::after {
    display: none;
  }
  .project-card-wrapper {
    gap: initial;
  }
  .project-cards-row {
    gap: initial;
  }
  .row-1 {
    margin: 0;
  }
  .experience-container-wrapper {
    gap: initial;
  }
  .experience-container {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  nav {
    padding-inline: 2rem;
  }
  .main-wrapper {
    padding-left: 2rem;
  }
  .technical-wrapper {
    gap: initial;
  }
  .technical-container {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  .technical-1 ul, .technical-2 ul, .technical-3 ul {
    gap: initial;
  }
  .skills-container ul .skill {
    font-size: 1rem;
  }
  .form-wrapper {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  .contact-me-wrapper {
    padding-bottom: 0;
  }
  .contact-me-wrapper h1 {
    margin-bottom: 0;
  }
}

@media (max-width: 828px) {
  .skills-container ul .skill {
    font-size: .75rem;
  }
  .home.hero-image-text-container {
    top: 30%;
  }
  .hero-image-text {
    font-size: 1.5rem;
  }
  .cta {
    font-size: .75rem;
    margin-top: 1rem;
  }
  .contact-me-wrapper .form-wrapper {
    padding: 2rem;
    width: 100%;
  }
  .contact-me-wrapper .form-wrapper .form-r1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-me-wrapper .form-wrapper .form-r1 input {
    width: 100%;
  }
  .contact-me-wrapper .form-wrapper .form-r3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 744px) {
  .hero-image-text-container {
    top: 35%;
  }
  .home.hero-image-wrapper img {
    -webkit-transform: translate(-22rem, 5rem);
            transform: translate(-22rem, 5rem);
    max-height: 50rem;
    width: auto;
  }
  .hero-image-text {
    font-size: 2rem;
    width: 60%;
  }
  .cta {
    font-size: 1rem;
  }
  .project-wrapper {
    padding-top: 0;
  }
  .project-cards-row {
    gap: 0rem;
  }
  .form-wrapper {
    width: 100%;
  }
  .form-r1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-me-wrapper .form-wrapper .form-r1 input {
    width: 100%;
  }
  .contact-me-wrapper .form-wrapper .form-r1 {
    gap: 2rem;
  }
  nav {
    position: fixed;
    top: 0;
    padding-inline: 2rem;
    z-index: 10;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .nav-bar-mobile-animation-forwards {
    -webkit-animation: navBarAnimationForwards .5s forwards;
            animation: navBarAnimationForwards .5s forwards;
  }
  .nav-bar-mobile-animation-backwards {
    -webkit-animation: navBarAnimationBackwards .5s forwards;
            animation: navBarAnimationBackwards .5s forwards;
  }
  @-webkit-keyframes navBarAnimationForwards {
    from {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes navBarAnimationForwards {
    from {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @-webkit-keyframes navBarAnimationBackwards {
    from {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    to {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
    }
  }
  @keyframes navBarAnimationBackwards {
    from {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    to {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
    }
  }
  nav ul li:not(#logo) {
    display: none;
  }
  #logo {
    margin-left: 0;
  }
  .main-wrapper {
    padding-left: 0;
  }
  .hamburger-menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 743px) {
  .projects-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project-card-wrapper {
    display: none;
  }
  .project-card-wrapper-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    margin-left: auto;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .project-card-container {
    min-width: 15rem;
  }
}

@media (max-width: 675px) {
  .skills-container ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .skills-container ul .skill {
    font-size: 1rem;
  }
}

@media (max-width: 659px) {
  .projects-wrapper h1, .experience-wrapper h1, .skills-wrapper h1, .contact-me-wrapper h1 {
    font-size: 5rem;
  }
  .home.hero-image-wrapper img {
    -webkit-transform: translate(-36rem, 5rem);
            transform: translate(-36rem, 5rem);
  }
  .hero-image-text-container {
    top: 58%;
  }
  .hero-image-text {
    width: 100%;
  }
  .technical-1, .technical-2, .technical-3 {
    display: none;
  }
  .technical-mobile-view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    margin-left: auto;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .technical-mobile-view ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
  }
  .technical-mobile-view li {
    width: 200px;
  }
  .technical-mobile-view span {
    font-size: 1.5rem;
  }
}

@media (max-width: 581px) {
  .contact-me-wrapper h1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 515px) {
  .experience-container {
    width: 27rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .experience-container::after {
    display: none;
  }
  .experience-container::before {
    display: none;
  }
  .experience-container h2 {
    text-align: center;
    width: 100%;
  }
  .home.hero-image-wrapper img {
    -webkit-transform: translate(-41rem, 5rem);
            transform: translate(-41rem, 5rem);
  }
  .hero-image-text-container {
    top: 58%;
    text-align: center;
  }
  .cta-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects-wrapper h1, .experience-wrapper h1, .skills-wrapper h1, .about-me-wrapper h1, .contact-me-wrapper h1 {
    font-size: 4rem;
  }
}

@media (max-width: 470px) {
  .contact-me-wrapper .form-wrapper {
    border: none;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (min-width: 423px) {
  footer {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: (auto)[9];
        grid-template-rows: repeat(9, auto);
    place-content: center;
    padding-top: 3rem;
  }
  footer .hz-line-footer-mobile {
    width: 80vw;
    height: 1px;
    background-color: #1e1e1e;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  footer .hz-line-footer-mobile:last-child {
    margin-top: 2rem;
  }
  footer h2, footer p {
    text-align: center;
  }
  footer h2 {
    margin-top: 0;
  }
  footer p {
    margin: 0;
  }
  footer .credits-footer-mobile div {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  footer .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  footer .copyright {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
/*# sourceMappingURL=media-queries.css.map */